li{
list-style:none;
margin-bottom: 20px;
}
table{
font-size:13;}
#left {
 font-size:14;
 width:18%;
 height:100%;
 text-align:left; 
 float:left; 
 clear:left;
 overflow:hidden;
 background-color:#e3dfff;
 color:#000000;
}
#right {
 width:80%;
 text-align:left; 
 float:right; 
 clear:right;
 overflow:hidden;
 }
