{% extends "index.html" %}
{% block body %}
            <form method="POST" action="/add_city/">
                <select id="prov" name="provname" multiple style="width:160px;height:160px">
                    <option value="100">北京市</option>
                    <option value="200">广东省</option>
                    <option value="210">上海市</option>
                    <option value="220">天津市</option>
                    <option value="230">重庆市</option>
                    <option value="240">辽宁省</option>
                    <option value="250">江苏省</option>
                    <option value="270">湖北省</option>
                    <option value="280">四川省</option>
                    <option value="290">陕西省</option>
                    <option value="311">河北省</option>
                    <option value="351">山西省</option>
                    <option value="371">河南省</option>
                    <option value="431">吉林省</option>
                    <option value="451">黑龙江省</option>
                    <option value="471">内蒙古自治区</option>
                    <option value="531">山东省</option>
                    <option value="551">安徽省</option>
                    <option value="571">浙江省</option>
                    <option value="591">福建省</option>
                    <option value="731">湖南省</option>
                    <option value="771">广西壮族自治区</option>
                    <option value="791">江西省</option>
                    <option value="851">贵州省</option>
                    <option value="871">云南省</option>
                    <option value="891">西藏自治区</option>
                    <option value="898">海南省</option>
                    <option value="931">甘肃省</option>
                    <option value="951">宁夏回族自治区</option>
                    <option value="971">青海省</option>
                    <option value="991">新疆维吾尔自治区</option>                        
                </select> &nbsp;
                <select id="city" name="cityname" multiple style="width:160px;height:160px">
                </select> &nbsp;
                <select id="yewu" name="yewuname" multiple style="width:160px;height:160px">
                    {% for busi in business %}
                    <option value="{{busi.yid}}">{{busi.yname}}</option>
                    {% endfor %}      
                </select>
                <p>
                <br>勾兑短信:{{form.sms}}&nbsp;&nbsp;勾兑姓名:{{form.user}}<p>
                <font size="2" color=red>{{error_msg}}</font>
                 <font size="2" color=green>{{result}}</font>                
                <br>开始日期:
                <input type="text" style="width:150px" onfocus="HS_setDate(this)" name="start">
                <br>结束日期:
                <input type="text" style="width:150px" onfocus="HS_setDate(this)" name="end">
                <input type="submit" value="提交" >
            </form> 
        <p><p>
        <font size="2" color=red>
                        注：<br>
            1.必须设置3天之后的规则<br>
            2.同一城市，同一业务 不能出现时间冲突
        </font>
{% endblock %}